.tapis {
    height: 100%;
}

.dices {
    display: inline-flex;
    width: 100%;
    margin-top: 2vh;
}

.figure-img{
    height: 35px;
    width: 35px;
    padding: 5px;
    margin-left: 1vh;
    background-color: gray;
    border: black solid 2px;
    border-radius: 5px;
}

.highlight {
    box-shadow: 
    1px 1px 5px  #7EA0E0, 
    -1px -1px 7px  #925FE0, 
    1px -1px 5px #7EA0E0, 
    -1px 1px 6px  #925FE0, 
}

.hp {
    position: absolute;
    top: 2%;
    right: 0;
    width: 30px;
    height: 30px;
    border: gold solid 2px;
    border-radius: 50px;
    background-color: sandybrown;
    box-shadow: black 1px 1px 5px 0px;
    text-align: center;
    align-items: center;
}

.hp > span {
    top: 5px;
    right: 5px;
    position: absolute;
}

.valider {
    color: black;
    background-color: transparent;
    height: 50px;
    width: 50px;
}