
.nomAppli{
    color:rgba(212, 168, 46, 0.822);
    font-weight: bold;
}

.piedDePage{
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.regles{
    background-color: rgba(241, 222, 222, 0.822);
}

.largeurPage{
    width:100%;
}