<div *ngIf="page1" class="regles">
  <span class="nomAppli">Rollingod</span> est un jeu de dé en tour par tour.<br/>
  Vous êtes face à votre adversaire, vous incarnez Hercule et votre adversaire Achille.<br/>
  Vous avez chacun 3 lancers de 6 dés successifs à effectuer.<br/>
  A chaque lancer, vous pouvez choisir de conserver 0 à 6 dés.<br/>
  Le but étant d'en avoir 6 conservés à la fin des 3 lancers.<br/>
  Les faveurs permettent d'utiliser le pouvoir d'une idôle.<br/>
</div>
<div *ngIf="page2" class="regles">
  Chaque dé possède deux faces apportant une faveur, reconnaissables à leur couleur dorée.<br/>
  Les faces possibles sont différentes pour chaque héros, mais leurs fonctions sont les mêmes.<br/>
  <u>Epée (Achille) / Hache (Hercule) :</u> 1 point de dégât au corps à corps<br/>
  <u>Bouclier :</u> Bloque 1 point de dégât au corps à corps<br/>
  <u>Flèche (Achille) / Rocher (Hercule) :</u> 1 point de dégât à distance<br/>
  <u>Casque :</u> Bloque 1 point de dégât à distance<br/>
  <u>Main :</u> Permet de voler une faveur à l'adversaire<br/>
</div>
<div class="piedDePage">
  <ion-button (click)="changePage()" class="btn btn-info largeurPage">Changer de page (<span *ngIf="page1">1</span><span *ngIf="page2">2</span>/2)</ion-button>
</div>
