<div *ngIf="page1" class="regles reglesPage1">
  <span><img src="../../assets/rollinggodtext.png" class="nomAppli"></span> est un jeu de dé en tour par tour.<br/>
  Vous êtes face à votre adversaire, vous incarnez Hercule et votre adversaire Achille.<br/>
  Vous avez chacun 3 lancers de 6 dés successifs à effectuer.<br/>
  A chaque lancer, vous pouvez choisir de conserver 0 à 6 dés.<br/>
  Le but étant d'en avoir 6 conservés à la fin des 3 lancers.<br/>
  Les faveurs, présentes sur les faces dorées, permettent d'utiliser le pouvoir d'une idôle.<br/>
</div>
<div *ngIf="page2" class="regles reglesPage2">
  Chaque dé possède deux faces apportant une faveur, reconnaissables à leur couleur dorée.<br/>
  Les faces possibles sont différentes pour chaque héros, mais leurs fonctions sont les mêmes.<br/>
  <img src="../../assets/icon/sword.svg" class="figure-img img-fluid rounded" alt="épée"><img src="../../assets/icon/fist.svg" class="figure-img img-fluid rounded" alt="poing"><br/> 
  1 point de dégât au corps à corps<br/>
  <img src="../../assets/icon/armor.svg" class="figure-img img-fluid rounded" alt="bouclier"><br/>
  Bloque 1 point de dégât au corps à corps<br/>
  <img src="../../assets/icon/diagonal-arrow.svg" class="figure-img img-fluid rounded" alt="flèche"><img src="../../assets/icon/rock.svg" class="figure-img img-fluid rounded" alt="rocher"><br/>
  1 point de dégât à distance<br/>
  <img src="../../assets/icon/helmet.svg" class="figure-img img-fluid rounded" alt="casque"><br/>
  Bloque 1 point de dégât à distance<br/>
  <img src="../../assets/icon/positivity.svg" class="figure-img img-fluid rounded" alt="main"><br/>
  Permet de voler une faveur à l'adversaire<br/>
</div>
<div class="piedDePage">
  <ion-button (click)="changePage()" class="btn btn-info largeurPage">Changer de page (<span *ngIf="page1">1</span><span *ngIf="page2">2</span>/2)</ion-button>
</div>
