.full-board{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/background-opaque70.png');
    background-color: blanchedalmond;
    background-size: cover;
    background-repeat: no-repeat;
}

.piedDePage{
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.regles{
    background-color: rgba(241, 222, 222, 0.39);
}