<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="full-board">
    <div class="player-board achille-board">
      <app-achille></app-achille>
    </div>
    <div class="player-board hercule-board">
      <app-hercule></app-hercule>
    </div>
  </div>
  
  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
  <!-- <app-zeus></app-zeus> -->
</ion-content>
