.player-board{
    height: 50%;
}
.achille-board{
    background-color: green !important;
}
.hercule-board{
    background-color: greenyellow !important;
}
.full-board{
    height: calc(100% - 57px);
}