<div class="tapis">
  <!-- keeped dices -->
  <div class="row dices">
    <div *ngFor="let diceKeeped of dicesKeeped" class="col">
        <img src={{diceKeeped.icon}} class="figure-img img-fluid rounded" alt="{{diceKeeped.value}}">
    </div>
  </div>
  <!-- rolled dices -->
  <div *ngIf="rollState" class="row dices">
    <div  *ngFor="let result of results" class="col" >
        <img src={{result.icon}} class="figure-img img-fluid rounded" alt="{{result.value}}" (click)="keep(result, $event)">
    </div>
  </div>
  <div *ngIf="HerculeCurrent">
     <button class="valider" *ngIf="rollState" (click)="validate()"><img src="../../assets/icon/check-square-regular.svg" alt="Valider"></button>
     <app-roll *ngIf="!rollState" class="roll-btn" (resultEmitter)='getResult($event)' [dices]= "dices"></app-roll>
  </div>
 
  <div class="hp"><span>{{HerculePv}}</span></div>
</div>
  
